@tailwind base;
@tailwind components;
@tailwind utilities;

.font-dot {
  font-family: 'DotGothic16', sans-serif;
}

.rendering-pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}
